body {
    margin: 0;
}
#wrapper {
    padding: 40px 20px 0;
}
#gameField {
    border: 1px solid rgba(136, 136, 136, .3);
}
.cell {
    float: left;
    box-shadow: 0px 0px 1px rgba(136, 136, 136, 1) inset;
}